@using ActiveDatabaseSoftware.ActiveQueryBuilder.Web.Mvc.UI
@{
    ViewBag.Title = "Home Page";
}

@Html.ActiveQueryBuilder().GetHtml()
<div id="all">
    <div id="content-container">
        <div id="qb-ui">
            @Html.ActiveQueryBuilder().ObjectTreeView().GetHtml()
            <div id="center">
                @Html.ActiveQueryBuilder().SubQueryNavigationBar().GetHtml()
                <div class="qb-ui-canvas-container block-flat">
                    @Html.ActiveQueryBuilder().Canvas().GetHtml()
                    @Html.ActiveQueryBuilder().StatusBar().GetHtml()
                    @Html.ActiveQueryBuilder().Grid().GetHtml()
                </div>
            </div>
        </div>
    </div>
    <div class="ui-dialog ui-widget sql">
        <div class="ui-dialog-titlebar ui-widget-header">
            <span class="ui-dialog-title-dialog">Query text with real object names</span>
        </div>
        @Html.ActiveQueryBuilder().SqlEditor().GetHtml()
    </div>
    <div class="ui-dialog ui-widget sql">
        <div class="ui-dialog-titlebar ui-widget-header">
            <span class="ui-dialog-title-dialog">Query text with alternate object names</span>
        </div>
        <div class="ui-dialog-content ui-widget-content" id="alternate-sql">
            <textarea></textarea>
        </div>
    </div>
</div>

<style>
    #qb-ui-editor {
/*width:49%;*/
/*float:left;*/
	padding:0;
}

#alternate-sql {
/*width:49%;*/
/*float:left;*/
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    display: block;
    position: relative;
    width: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

#alternate-sql textarea {
    width: 100%;
    height: 150px;
    padding: 3px;
    border: 0;
    margin: 0;
}

.sql 
{
    position:relative;
    padding:0;
    width:100%;
}

#qb-ui-canvas {
	height: 270px;
}

#qb-ui-tree
{
    height:511px;
}

#qb-ui-grid 
{
	height: 160px;
}

textarea {
    max-width: none;
}


</style>

@section scripts
{
    <script>
        OnApplicationReady(function () {
            QB.Web.Core.bind(QB.Web.Core.Events.UserDataReceived, onUserDataReceived);
        });


        onUserDataReceived = function (e, data) {
            $('#alternate-sql textarea').val(data.AlternateSQL);
        };
    </script>
}
